<h1>Select an account:</h1>

<% @accounts.each do |account| %>
  <div>
    <%= link_to "#{account.name.capitalize}", account_path(account.id), method: :put %>
    <% if current_account == account %>
      <small>(current account)</small>
    <% end %>
  </div>
<% end %>
